/* form_viewer.module.css */

/* General container for the form viewer */
.formViewerContainer {
  width: 100%;
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Container for navigation buttons */
.navigationButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

/* Text alignment for page indicator */
.pageIndicator {
  text-align: center;
  font-weight: bold;
}

/* Titles */
h2 {
  color: #007bff;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 600;
}

/* Form details section (ID and creation date) */
.formDetails {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.formDetails p {
  font-size: 18px;
  color: #333;
}

.formDetails strong {
  color: #007bff;
}

/* Form field styling */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

/* Input field */
input[type="text"], input[type="number"], input[type="email"], textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  box-sizing: border-box;
}

/* Submit button */
button {
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

/* For URLs and links */
.formViewerContainer a {
  display: inline-block;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  transition: all 0.3s ease;
}

.formViewerContainer a:hover {
  background-color: #0056b3;
}

/* Loader message */
.form p {
  font-size: 18px;
  color: #007bff;
}

/* Responsive styles for small screens */
@media (max-width: 768px) {
  .formViewerContainer {
    padding: 15px;
    width: 100%;
  }

  .navigationButtons {
    flex-direction: column;
  }

  .pageIndicator {
    margin-top: 0.5em;
  }

  .navButtonWrapper {
    width: 150px; 
    display: flex;
    justify-content: center;
  }
  
  .placeholder {
    width: 100%;
    height: 42px;
  }
  

  h2 {
    font-size: 28px;
  }

  button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .formViewerContainer a {
    font-size: 14px;
    padding: 10px 20px;
  }

  .formDetails p {
    font-size: 16px;
  }

  .form {
    padding: 20px;
    width: 90%;
  }

}

@media (min-width: 2000px) {
  body {
    zoom: 1.1;
  }
}
@media (min-width: 3500px) {
  body {
    zoom: 1.9;
  }
}