.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pageTitle {
  margin: 0;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.titleInput {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.saveButton {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    z-index: 1000;
    opacity: 0.9;
}

.success {
    background-color: #67e46b;
}

.error {
    background-color: #f44336;
}